<div class="col-10 offset-1 main">

	<h3>Add a New Bar</h3>
	<br />

	<%= simple_form_for @bar do |f| %>
		<%= f.input :name, label: 'Name:' %>
		<%= f.input :address, label: 'Address:' %>
		<%= f.input :description, label: 'Description:' %>
		<%= f.input :websiteurl, label: 'Website:' %>
	
		<div class="col-4 checkbox">
			<%= f.input :livemusic, as: :boolean, label: 'Live Music?' %>
		</div>
		<div class="col-4 checkbox">
			<%= f.input :dancing, as: :boolean, label: 'Dancing?' %>
		</div>
		<div class="col-4 checkbox">
			<%= f.input :pool, as: :boolean, label: 'Pool Tables?' %>
		</div>
		<div class="col-4 checkbox">
			<%= f.input :darts, as: :boolean, label: 'Dart Boards?' %>
		</div>
		<div class="col-4 checkbox">
			<%= f.input :cornhole, as: :boolean, label: 'Cornhole?' %>
		</div>
		<div class="col-4 checkbox">
			<%= f.input :karaoke, as: :boolean, label: 'Karaoke?' %>
		</div>
		<div class="col-4 checkbox">
			<%= f.input :sportstv, as: :boolean, label: 'Sports or TVs?' %>
		</div>
		<div class="col-4 checkbox">
			<%= f.input :food, as: :boolean, label: 'Food?' %>
		</div>
		<div class="col-4 checkbox">
			<%= f.input :happyhour, as: :boolean, label: 'Happy Hour Specials?' %>
		</div>
		<div class="col-4 checkbox">
			<%= f.input :beer, as: :boolean, label: 'Premium Beer?' %>
		</div>
		<div class="col-4 checkbox">
			<%= f.input :wine, as: :boolean, label: 'Premium Wine?' %>
		</div>
		<div class="col-4 checkbox">
			<%= f.input :whiskey, as: :boolean, label: 'Premium Whiskey?' %>
		</div>
		<div class="col-4 checkbox">
			<%= f.input :vodka, as: :boolean, label: 'Premium Vodka?' %>
		</div>
		<div class="col-4 checkbox">
			<%= f.input :tequila, as: :boolean, label: 'Premium Tequila?' %>
		</div>
		<div class="col-4 checkbox">
			<%= f.input :cocktails, as: :boolean, label: 'Specialty Cocktails?' %>
		</div>
		
		<br />
		<%= f.submit 'Create Bar', class: 'btn btn-primary' %>
	<% end %>

</div>