<div class="col-10 offset-1 main">

	<h3>Results page</h3>

	<h5>Search term: <%= @userlocation.searchterm %></h5>

	<p>Search area: <%= @geocodeduserlocation.last.city %>, <%= @geocodeduserlocation.last.state %></p>
	<%# @geocodeduserlocation.last.coordinates %>
	<%# @geocodeduserlocation.last.latitude %>
	<%# @geocodeduserlocation.last.longitude %>

	<h3>Bars within <%= @withindistance.round %> miles:</h3><br />

	<% @nearbybars.each do |bar| %>
		<div>
			<h4><%= link_to bar.name, bar_path(bar) %></h4>
			<small>About <%= bar.distance_from(@geocodeduserlocation.last.coordinates).floor(1) %> miles away | 
				<%= bar.zipcode %></small><br />
			Darts? <%= bar.darts %>
		</div>
		<br />
	<% end %>

</div>