<div class="col-10 offset-1 main">

	<h3>Results page</h3>

	<h5>Search term: <%= @userlocation.searchterm %></h5>

	Searching for 
	<%= @userlocation.wantedactivities %>
	in <%= @geocodeduserlocation.last.city %>, <%= @geocodeduserlocation.last.state %>
	<hr />

	<h3>Bars within <%= @withindistance.round %> miles:</h3>
	<br />

	<% @nearbybars.sort_by{ |t| [(t.activities & @userlocation.wantedactivities).count * -1, t.distance_from(@geocodeduserlocation.last.coordinates)] }.each do |bar| %>

		<div class="box">
			<h4><%= link_to bar.name, bar_path(bar) %></h4>
			<p><small>About <%= bar.distance_from(@geocodeduserlocation.last.coordinates).floor(1) %> miles away</small></p>
			Featuring <%= bar.activities %><br />
			<% @incommon = bar.activities & @userlocation.wantedactivities %><br />
			Activities in common with search: <%= @incommon %><br />
			<%= @incommon.count %> out of <%= @userlocation.wantedactivities.count %>
		</div>

	<% end %>

</div>