<div class="col-10 offset-1 main">

	<h3>Results page</h3>

	<div class="float-right">
		<button><%= link_to "Meh. Let's try again.", root_path, class: 'btn bth-primary' %></button>
	</div>

	<h5>Search term: <%= @userlocation.searchterm %></h5>

	<div>
		Searching for bars with 
	<% @userlocation.wantedactivities.each do |activity| %>
		<%= activity %>
	<% end %>
	
	in <%= @geocodeduserlocation.last.city %>, <%= @geocodeduserlocation.last.state %>
	</div>

	<hr />

	<h3>Bars within <%= @withindistance.round %> miles:</h3>
	<br />

	<% @nearbybars.sort_by{ |t| [(t.activities & @userlocation.wantedactivities).count * -1, t.distance_from(@geocodeduserlocation.last.coordinates)] }.each do |bar| %>

		<div class="row box">
			<!-- left column -->
			<div class="col-6">
				<small><em>About <%= bar.distance_from(@geocodeduserlocation.last.coordinates).floor(1) %> miles away</em></small><br />
				<h3><%= link_to bar.name, bar_path(bar) %></h3>
				<%= bar.address %><br />

				<% bar.activities.each do |activity| %>
					<% if activity == "livemusic" %>
						<% activity = "Live Music" %>
					<% elsif activity == "sportstv" %>
						<% activity = "Sports & Tvs" %>
					<% elsif activity == "happyhour" %>
						<% activity = "Happy Hour" %>
					<% end %>
					<span class="badge badge-success"><%= activity.titlecase %></span>
				<% end %>
				<br /><br />

				<% @incommon = bar.activities & @userlocation.wantedactivities %>

				<% @perc = (@incommon.count.to_f / @userlocation.wantedactivities.count) * 100 %>
				<% if @perc > 39 %> <!-- checking to see if alert should show or not -->


				<!--display alert if match, or display other msg -->
				
				<div>
					<% if @perc >= 100 %>
						<div class="row boom">
							<div class="col-4">
								<%= image_tag 'star-struck-icon.png', class: 'boomface' %>
							</div>
							<div class="col-8">
								<h5>BOOM! Party Alert!<br /><small>This bar has all of the things you were looking for.</small></h5>
							</div>
						</div>

					<% elsif @perc < 100 && @perc > 65 %>
						
						<div class="row maybe">
							<h5>Pretty Good!<br /><small>This bar has most of what you are looking for.</small></h5>
						</div>

					<% elsif @perc <= 65 && @perc > 39 %>
						
						<div class="row maybe">
							<h5>Maybe? Could be?<br /><small>This bar has some of what you are looking for.</small></h5>
						</div>

					<% end %>

				</div>
				<!-- end alert -->

				<% end %> <!-- end alert check -->


				<!-- START meter for Party Score -->

				<div id="meterdiv">
					<table id="metertable">
						<tr>
							<% @perc.round(0).times do %>
								<td class="meterstripes"></td>
							<% end %>
						</tr>
					</table>
				</div >
				<div id="score">
				<table>
					<tr>
						<td>Your Party Score for this bar is <strong><%= @perc.round(0) %></strong></td>
					</tr>
				</table>
				</div>

				<!-- END meter -->

				<br />

				<%= bar.name %> has <%= @incommon.count %> out of <%= @userlocation.wantedactivities.count %> activities from your search<br /><br />
				<ul>
				<% @incommon.each do |activity| %>
					<% if activity == "livemusic" %>
						<% activity = "Live Music" %>
					<% elsif activity == "sportstv" %>
						<% activity = "Sports & Tvs" %>
					<% elsif activity == "happyhour" %>
						<% activity = "Happy Hour" %>
					<% end %>
					<li><%= activity.titlecase %></li>
				<% end %>
				</ul>


				<!-- show brands for bar, if they exist -->
				<% if bar.brands.present? %>

					<div>
						<h5>Proudly serving these brands:</h5>

						<% @barbrands = bar.brands.sort_by{ |t| [t.brandtype, t.name] } %>
						<% @barbrands.each do |brand| %>
							<%= brand.name %> (<%= brand.inv_brandtype %>)
							<% if @barbrands.last != brand %>
								,&nbsp;
							<% end %>
						<% end %>

					</div>

				<% else %>
					<div>
						<p><small>No brands added for this bar yet. Check back soon!</small></p>
					</div>
				<% end %>
				<!-- END show brands -->


			</div>
			<!-- end left column -->



			<!-- right column -->
			<div class="col-6">
				<% if bar.photos.present? %>
					<div>
						<%= image_tag((bar.photos.last.picture.url), class: 'bar_image') %><br />
						<p class="text-center"><%= bar.photos.last.caption %></p>
					</div>
				<% else %>
					<div>
						<%= image_tag(('defaultbarimage.jpg'), class: 'bar_image') %><br />
						<p class="text-center">We need a photo for <%= bar.name %>. Have one? Email us! :)</p>
					</div>
				<% end %>

				<div>
					<%= bar.description %>
				</div>
				<br />

				<%= link_to 'Directions', "https://www.google.com/maps/dir/?api=1&origin='#{@geocodeduserlocation.last.address}'+&destination='#{bar.address}'+&travelmode=driving", target: "_blank" %>

				<br />
				<small><em>(For accurate directions, use an address in your Party Search)</em></small>

			</div>
			<!-- end right column -->

		</div>

	<% end %>

</div>