<div class="col-10 offset-1 main">

	<h3>Results page</h3>

	<h5>Search term: <%= @userlocation.searchterm %></h5>

	<%= @geocodeduserlocation.last.coordinates %>
	<%= @geocodeduserlocation.last.latitude %>
	<%= @geocodeduserlocation.last.longitude %>
	<%= @geocodeduserlocation.last.city %>
	<%= @geocodeduserlocation.last.state %>

	<% @nearbybars.each do |bar| %>
		<%= bar.name %>
		<%= bar.distance_from(@geocodeduserlocation.last.coordinates).floor(1) %>
		<%= bar.inspect %>
		<%= bar.zipcode %>
	<% end %>

</div>