<div class="col-10 offset-1 main">

	<h3>bar show page</h3>

	<%= @bar.name %>
	<%= @bar.address %>
	<%= @bar.city %>
	<%= @bar.activities %>

	Darts? <%= @bar.darts %>
	Pool? <%= @bar.pool %>
	Live Music? <%= @bar.livemusic %>

	<% Userlocation.last.attributes.except("id", "created_at", "updated_at", "withindistance").each do |name, value| %>
		<%= name %>
		<%= value %>
	<% end %>

</div>