<div class="col-10 offset-1 main">

	<div class="float-right">
		<% if current_user %>
			<%= link_to favoritebar_text, favoritebars_update_path(bar: @bar), id: 'favoritebar_link', remote: true %>
		<% end %>
	</div>

	<h2><%= @bar.name %></h2>

	<%= @bar.address %><br />
 
	<% @bar.activities.each do |activity| %>
		<% if activity == "livemusic" %>
			<% activity = "Live Music" %>
		<% elsif activity == "sportstv" %>
			<% activity = "Sports & Tvs" %>
		<% elsif activity == "happyhour" %>
			<% activity = "Happy Hour" %>
		<% end %>
		<span class="badge badge-success"><%= activity.titlecase %></span>
	<% end %>

	<br />

	<div class="row box">

		<div class="col-6">
			<div class="showpic">
			<% if @bar.photos.present? %>
				<%= image_tag((@bar.photos.last.picture.url), class: 'bar_image') %><br />
				<p class="caption"><%= @bar.photos.last.caption %></p>
			<% else %>
				<%= image_tag(('defaultbarimage.jpg'), class: 'bar_image') %><br />
				<p class="text-center">We need a photo for <%= @bar.name %>. Have one? Email us! :)</p>
			<% end %>
			</div>
		</div>

		<div class="col-6">

		<!-- Display map if coordinates are present -->

		<% if @bar.latitude.present? && @bar.longitude.present? %>

		  <script>

		    function initMap() {
		      var myLatLng = {lat: <%= @bar.latitude %>, lng: <%= @bar.longitude%>};

		      var map = new google.maps.Map(document.getElementById('map'), {
		        zoom: 13,
		        center: myLatLng
		      });

		      var marker = new google.maps.Marker({
		        position: myLatLng,
		        map: map,
		        title: '<%= @bar.name %>'
		      });
		    }
		  </script>

		  <script async defer
		  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&callback=initMap">
		  </script>

		  <div id="map"></div>

	  <% end %>

	  <!-- END MAP -->

		</div>

	</div>

	<!--

	<%# Userlocation.last.attributes.except("id", "created_at", "updated_at", "withindistance").each do |name, value| %>
		<%# name %>
		<%# value %>
	<%# end %>

	-->

	<div class="float-right">
		<p><%= link_to 'Click to visit website', @bar.websiteurl, class: 'badge badge-primary', target: "_blank" %></p>
	</div>

	<p>About <%= @bar.name %>:<br />
	<%= @bar.description %></p>

	<br />

	<!-- show brands for bar, if they exist -->
	<% if @bar.brands.present? %>

		<div>
			<h5>Proudly serving these premium brands:</h5>

			<% @barbrands = @bar.brands.sort_by{ |t| [t.brandtype, t.name] } %>
			<% @barbrands.each do |brand| %>
				<%= brand.name %> (<%= brand.inv_brandtype %>)
				<% if @barbrands.last != brand %>
					,&nbsp;
				<% end %>
			<% end %>

		</div>

	<% else %>

		<div>
			<p><small>No brands added for this bar yet. Check back soon!</small></p>
		</div>

	<% end %>
	<!-- END show brands -->


	<br />

	<!-- ADMIN AREA - hidden if user is not admin -->

	<% if current_user.try(:admin?) %>

		<hr /><br />

		<div class="float-right">

			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pictureModal">
			  Add a photo
			</button>

			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
			  Add a Brand
			</button>

			<%= link_to 'Edit Bar', edit_bar_path(@bar), class: 'btn btn-primary' %>
			<%= link_to 'Delete Bar', bar_path(@bar), method: :delete, data: {confirm: 'Are you sure you want to delete this bar?'},class: 'btn btn-danger' %>

		</div>

		<div class="clear"></div>

		<br /><br />

		<div>
			<% if @bar.photos.present? %>
				<%= image_tag((@bar.photos.last.picture.url), class: 'bar_image') %>
				<%= @bar.photos.last.caption %>
			<% end %>
		</div>

	<% end %>

	<!-- END ADMIN AREA -->

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">×</span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel">Add a Brand</h4>
	      </div>
	      <%= simple_form_for @brand, url: bar_brands_path(@bar) do |f| %>
	        <div class="modal-body">
	          <%= f.input :name %>
	          <%= f.input :brandtype, as: :select, collection: Brand::BRANDTYPE %>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	          <%= f.submit "Add a Brand", class: 'btn btn-primary' %>
	        </div>
      <% end %>
	    </div>
	  </div>
	</div>

	<!-- Picture Modal -->

	<!-- Modal -->
	<div class="modal fade" id="pictureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">×</span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel">Add a photo</h4>
	      </div>
	        <%= simple_form_for @photo, url: bar_photos_path(@bar) do |f| %>
		        <div class="modal-body">
							<%= f.input :picture %>
							<%= f.input :caption, label: 'Caption or Copyright Info:' %>
						</div>
						<div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <%= f.submit 'Add a Photo', class: 'btn btn-primary' %>
		      	</div>
					<% end %>
	      </div>

	    </div>
	  </div>
	</div>
	
</div>

