<div class="col-10 offset-1 main">

	<h3 class="text-center">What are you looking to do and what do you like to drink?</h3>
	<br />

	<div class="box">
		<%= simple_form_for @userlocation do |f| %>
			<div class="row">
				<div class="col-8">
					<%= f.input :searchterm, label: 'Enter an address, city/state, zip-code, or landmark:', hint: 'Examples: 123 Main St. Sacramento, CA OR Sacramento, CA OR 95841 OR Golden One Center' %>
				</div>
				<div class="col-4">
					<%= f.input :withindistance, label: 'Enter distance for search:', hint: 'Enter distance in miles' %>
				</div>
			</div>
			<br />


			<div class="row boxes">
				<div class="col-6">

					<h5>Stuff to do</h5>
					<br />

					<div class="col-4 checkbox">
						<%= f.input :livemusic, as: :boolean, label: 'Live Music?' %>
					</div>
					<div class="col-4 checkbox">
						<%= f.input :dancing, as: :boolean, label: 'Dancing?' %>
					</div>
					<div class="col-4 checkbox">
						<%= f.input :pool, as: :boolean, label: 'Pool Tables?' %>
					</div>
					<div class="col-4 checkbox">
						<%= f.input :darts, as: :boolean, label: 'Dart Boards?' %>
					</div>
					<div class="col-4 checkbox">
						<%= f.input :cornhole, as: :boolean, label: 'Cornhole?' %>
					</div>
					<div class="col-4 checkbox">
						<%= f.input :karaoke, as: :boolean, label: 'Karaoke?' %>
					</div>
					<div class="col-4 checkbox">
						<%= f.input :sportstv, as: :boolean, label: 'Sports or TVs?' %>
					</div>
					<div class="col-4 checkbox">
						<%= f.input :food, as: :boolean, label: 'Food?' %>
					</div>
					<div class="col-4 checkbox">
						<%= f.input :happyhour, as: :boolean, label: 'Happy Hour Specials?' %>
					</div>
				</div>

				<div class="col-6">

					<h5>Stuff to drink</h5>
					<br />

					<div class="col-4 checkbox">
						<%= f.input :beer, as: :boolean, label: 'Craft Beer?' %>
					</div>
					<div class="col-4 checkbox">
						<%= f.input :wine, as: :boolean, label: 'Premium Wine?' %>
					</div>
					<div class="col-4 checkbox">
						<%= f.input :whiskey, as: :boolean, label: 'Premium Whiskey?' %>
					</div>
					<div class="col-4 checkbox">
						<%= f.input :vodka, as: :boolean, label: 'Premium Vodka?' %>
					</div>
					<div class="col-4 checkbox">
						<%= f.input :tequila, as: :boolean, label: 'Premium Tequila?' %>
					</div>
					<div class="col-4 checkbox">
						<%= f.input :cocktails, as: :boolean, label: 'Specialty Cocktails?' %>
					</div>

				</div>

			</div>

			<br />
			<%= f.submit 'Find Bars', class: 'btn btn-primary btn-lg btn-block' %>
		<% end %>
	</div>

</div>