<!DOCTYPE html>
<html>
  <head>
    <title>ProjectBTH - Party responsibly.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>

    <!-- split footer -->
    <div class="row">
      <div class="col-5 offset-1">
        <p>footer1</p>
      </div>
      <div class="col-5 text-right">
        <p>footer2</p>
      </div>
    </div>

  </body>
</html>
